#header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 90px;
}
.nav {
  display: flex;
}
.menuAncre {
  display: flex;
}
.liensMenu {
  display: flex;
  justify-content: space-between;
  width: 100%; /*(pour media quieries)*/
}
.menuAncre a {
  text-decoration: none;
  color: black;
  width: 8em;
  text-align: center;
}
.menuAncre a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
.sinscrire {
  display: flex;
}
.sinscrire a {
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
  width: 8em;
  text-align: center;
  border-top: none;
}


h5
{
  color: #969090;
}
/* barre de recherche*/
.barre_recherche
{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
      
}
.barre_recherche i 
{
    
    background-color:#F2F2F2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0.7em;
    justify-content: center;
    align-items: center;
    
}
.barre_recherche input
{
  padding: 10Px;
  border: solid 2px #F2F2F2 ; 
}
.barre_recherche .btn_recherche
{
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px ;
  background-color: #0065FC;
  padding: 10px;
}
/*mise en forme des barres filtres*/
.section_filtre
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}
.filtres
{
  display: flex;
  flex-wrap: wrap;
}
.article_filtre
{
  display: flex;
  padding-top: 20px;
  align-items: center;
  margin: 10px;
}
.barre_filtre
{
  margin-left: 30px;
  border: solid 2px #F2F2F2;
  border-radius: 20px;
  border-left: none;
  
  
}
.barre_filtre i
{
  background-color:#DEEBFF;
  color: #0065FC;
  padding: 10px;
  border-radius: 20px;
}
/* mise en forme titre info*/
.info
{
  display: flex;
  align-items: center;
}
.info i
{
  display: flex;
  border: solid 2px #F2F2F2;
  font-weight:900;
  color: #0065FC;
  width: 1.5em;
  height:1.5em;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color:#F2F2F2;
  
}
/*mise en forme hebergement*/

.best_hebergement img
{
  height: 8em;
  width: 14em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}
.best_hebergement p
{
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 0px;
}
figure i
{
  color: #0065FC;
}

.best_hebergement figure
{
  margin: 6px;
  padding: 6px;
  border-radius: 20px;
  background-color:white;

}
.best_hebergement
{
  display: flex;
  flex-wrap: wrap;  
  
}

.hebergement_marseille
{

  padding-top: 50px;
  padding-left: 40px;
  border-radius: 20px;
  background-color: #F2F2F2;
  margin: 8px;
  
}

article
{
  display: flex;
  flex-wrap:nowrap;
  justify-content: stretch; 
  
}
/*mise en forme aside*/
aside
{
  display: flex;
  flex-direction: column;
  background-color:#F2F2F2;
  border-radius: 25px;
  justify-content: center;   
  
}
aside figure img
{
  height:10em;
  width: 10em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  
  
}
aside figure
{
  display: flex;
  background-color: white;
  height: 10em;
  width: 20em;
  border: solid 2px;
  border-radius: 25px;
  
}
aside span
{
  margin: 10px;
}
/*mise en forme section activités*/
section
{
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color:#F2F2F2;
}

section figure
{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 20em;
  width: 13em;
  border: solid 2px;
  border-radius: 25px;
  
}
section figure img
{
  height:15em;
  width: 13em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
    
}
footer{
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  margin-top: 60px;
}
.about ul{
  list-style-type: none;
  padding: 0;
}
.about ul li a{
  text-decoration-line: none;
  color: black;
}
.our_rooms ul{
  list-style-type: none;
  padding: 0 ;
}
.our_rooms ul li a{
  text-decoration-line: none;
  color: black;
}
.assistance ul{
  list-style-type: none;
  padding: 0;
}
.assistance ul li a{
  text-decoration-line: none;
  color: black;
}
footer ul li{
  padding-bottom: 10px;
}
.footer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}


